@charset "utf-8";

body { -webkit-text-size-adjust:none;  }/*line-height:1.2em;*/
html { margin:0; }

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,input,textarea,button,p,blockquote,th,td { margin:0; padding:0; }
body,input,textarea,select,button,table,h1,h2,h3,h4,h5,h6 { font-weight:normal; }
img,fieldset{border:0}
ul,ol,li{list-style:none;}

a{}

em,i,address {font-style:normal; font-weight:normal;}
legend,caption {clear:both;display:none;}
input,textarea,select,button,table{ font-size:inherit;font-family:inherit;line-height:inherit; }
table{border-collapse:collapse}
textarea { resize:none; }
button,label { cursor:pointer; }
a, a:hover, a:active { text-decoration: none; }

input, textarea, button, select { outline:none; }
input,textarea,button { -webkit-border-radius:0; border-radius:0; } /*-webkit-appearance:none;*/
* {
  box-sizing: border-box;
}