.xpenfl {
  border: 1px solid black;
  width: 420px; height: 164px;
  text-align: center;
  padding: 21px 20px 18px;
}

.login {
  display: block;
  background-color: #03c75a;
  color: #ffffff;
  padding: 17px 0px;
  margin: 13px 0px 0px;
  font-size: 14px;
  text-decoration: none;
}
.login .spdlqj {
  color: #ffffff;
  
}

.ckwrl {
  margin: 16px 0px 0px;
}

.naver {
  color: #ffffff;
  
}



.ckwrl a{
  text-decoration: none;
  color: #606060;
  display: inline-block;
}

